@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

  body {font-family: 'Lora', serif;}

    .navtitle a {
      font-size: 1.25em;
      color: #fff;
      height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
  		font-weight: 900;
  		letter-spacing: 0.05em;
  		text-indent: -0.05em;
  		text-transform: uppercase;
      text-decoration: none;
    }

    .special a {
      text-decoration: none;
    }

    .corners {
      border-radius: 3%;
    }

    .wrapper.style2 {
			background: #395775;
			color: #19aced;
		}

    .wrapper.style2 .box {
      background: #a0a0a0;
      color: #fff;
      border-radius: 3%;
    }

    #banner{
      background-color: #443d36;
      z-index:-2;
    }

    #banner::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .5;
     background-image: url("images/homesteadBannerDining.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 0% bottom;
    }

    a.icon-a i {
        transition: transform .2s;
    }

    a.icon-a i:hover {
        cursor: pointer;
        transform: scaleY(1.2) scaleX(1.2);
    }

.gallery  {
  margin-bottom:1.1em;
  transition: transform .2s, box-shadow .2s;
  border-radius:3%;
}
.gallery:hover  {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,.2);
  transform: scaleY(1.05) scaleX(1.05);
}

img.gallery{
  -webkit-filter: saturate(0.5) opacity(.8);
  filter: saturate(0.5) opacity(.8);
}

img.gallery:hover{
  -webkit-filter: saturate(0.5) opacity(1);
  filter: saturate(0.5) opacity(1);
  transition:filter .5s, transform .5s;
}

.wrapper.style4 {
    padding: .1em 0;
}

.wrapper.style1 {
    padding: 6em 0;
}
/************ Carousel ************/

.slider {
    width: 100%;
    margin: 0px auto;
    background-color: black;
}

.slick-slide {
  margin: 0px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #bbb;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-prev, .slick-next {
    z-index: 999999;
}

@media (max-width:40em) {
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
  }
}

.hero-heading {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    top: 35%;
    z-index: 10;
    position: absolute;
    font-size: 1.8em;
}

@media (min-width:0) and (max-width: 450px){
.hero-heading{
  top: 8%;
  padding: 0 1em;
  }

  .wrapper.style1 {
    padding:1em;
}

  .slick-initialized .slick-slide {
    height: 15em;
}

  .hero-heading h1{
    font-size:1.3em
  }

  .hero-heading .subtitle {
    font-size: 1em;
  }

  .row.gtr-uniform {
      padding: 0 2em;
  }

  .major > :first-child:before {
    width: 60%;
}

  .major > :first-child:after {
      width: 60%;
  }

}

h1 {
  color: inherit;
  font-size: 3em;
  margin: 0 0 0.5em 0;
  padding: 0;
  z-index: 1;
}

.subtitle {
  font-size: 1.5em;
}

.navtitle {
    position: absolute;
    width: 100%;
}

.navtitle a {
    padding: .5em 0;
}

#nav {
  padding: .75em 0em;
}

#nav > ul > li {
    padding: 0em 1em;
}

/* stupid code */

.sub-menu-parent { position: relative; }

.sub-menu {
  line-height: 2em;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */

nav a { color: #E00; display: block; text-decoration: none; }
nav a:hover { color: #F55; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }
nav > ul { text-align: center; }

.sub-menu {
  background: #443e39;
}


.intro{
  margin-bottom: 2em;
  padding: 2.25em 2.25em 0;
  text-align:center;
}

#gallery-div {
    min-height: 30em;
}

.center {
  text-align: center;
}

.eventWrapper {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  width: auto;
  height: 326px;
  border-radius: 10px;
}

@media (min-width:0) and (max-width: 450px) {

}

.upper {
  border-bottom: 1px solid rgba(255, 255, 255, .7);
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  text-transform: uppercase;
}

.eventIcon {
  display: inline-block;
  position: relative;
  top: -.1em;
  vertical-align: middle;
}

.details {
  display: flex;
  flex-direction: column;
}

.eventRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.row-item {
  padding-left: 10px;
}

.eventWrapper{
  font-family: 'Lato', sans-serif;
}

.eventWrapper .upper{
  color: #555555;
}

.eventWrapper h2.meetup a{
  color:#395775;
}

.eventWrapper.details.eventRow strong.row-item {
  color:#19aced;
}

.upper {
    border-bottom: 1px solid rgba(57, 87, 117, .7);
  }

  i.fa.fa-calendar {
      padding-top: .3em;
  }

  i.fa.fa-map-marker {
      padding: .3em .3em 0 0;
  }

  .event-row .row-item{
    color:#19aced;
    margin: 20px 0 0;
  }

h1{
  font-size: 2.1em;
}

.center {
    margin: 0 auto;
}

a.meetup {
    text-decoration: none;
}


.wrapper.style2 .eventWrapper h3{
  color:#395775;
  font-size:32px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  padding-top: .2em;
  margin: 0;
}

.eventWrapper h4.group{
  color:#55555;
}

h4.group{
  line-height: 1;
  font-size: 1.3em;
  margin: 0.5em 0 0 0;
}

p.details {
    margin: 0;
}

.wrapper.style2 .eventWrapper h3:hover{
  color:#19aced;
}

img.box-img.banner-img {
    padding-bottom: 1em;
  }

    .col-3.col-12-narrower.bc {
        margin: 0 auto;
    }

.active {
  color: #19ACED !important;
}

@media (min-width: 451px) and (max-width: 1024px) {


  .hero-heading{
    top: 15%;
    }

  .hero-heading h1{
    font-size:1.6em;
  }

  .hero-heading .subtitle {
    font-size:1em;
  }

}
