@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

  body {font-family: 'Lora', serif;}

    .special a {
    text-decoration: none;
    }

    .corners {
      border-radius: 10%;
    }

    .wrapper.style2 {
			background: #395775;
			color: #19aced;
		}

    .wrapper.style2 .box {
      background: #a0a0a0;
      color: #fff;
      border-radius: 10%;
    }

    #banner::after {
              content: ' ';
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              opacity: .5;
             background-image: url("images/homesteadBannerWeb.jpg");
             background-size: cover;
             background-repeat: no-repeat;
             background-position: 0% bottom;
            }
