@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

  body {font-family: 'Lora', serif;}

    .navtitle a {
      font-size: 1.25em;
      color: #fff;
      height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
  		font-weight: 900;
  		letter-spacing: 0.05em;
  		text-indent: -0.05em;
  		text-transform: uppercase;
      text-decoration: none;
    }

    .special a {
      text-decoration: none;
    }

    .corners {
      border-radius: 3%;
    }

    .wrapper.style2 {
			background: #395775;
			color: #19aced;
		}

    .wrapper.style2 .box {
      background: #a0a0a0;
      color: #fff;
      border-radius: 3%;
    }

    #banner{
      background-color: #443d36;
      z-index:-2;
    }

    #banner::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .5;
     background-image: url("images/homesteadBannerDining.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 0% bottom;
    }

    a.icon-a i {
        transition: transform .2s;
    }

    a.icon-a i:hover {
        cursor: pointer;
        transform: scaleY(1.2) scaleX(1.2);
    }

.gallery  {
  margin-bottom:1.1em;
  transition: transform .2s, box-shadow .2s;
  border-radius:3%;
}
.gallery:hover  {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,.2);
  transform: scaleY(1.05) scaleX(1.05);
}

/************ Carousel ************/

.slider {
    width: 100%;
    margin: 0px auto;
    background-color: black;
}

.slick-slide {
  margin: 0px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #bbb;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-prev, .slick-next {
    z-index: 999999;
}

@media (max-width:40em) {
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
  }
}

.hero-heading {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    top: 600%;
    z-index: 10;
    position: relative;
}

@media (max-width: 450px){
.hero-heading{
  top: 20%;
  padding: 0 1em;
  }
}

#header h1 {
  color: inherit;
  font-size: 3em;
  margin: 0 0 0.5em 0;
  padding: 0;
  z-index: 1;
}

.navtitle {
    position: absolute;
    width: 100%;
}

.navtitle a {
    padding: .5em 0;
}

#nav {
  padding: .75em 0em;
}

#nav > ul > li {
    padding: 0em 1em;
}

/* stupid code */

.sub-menu-parent { position: relative; }

.sub-menu {
  line-height: 2em;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */

nav a { color: #E00; display: block; text-decoration: none; }
nav a:hover { color: #F55; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }
nav > ul { text-align: center; }

.sub-menu {
  background: #443e39;
}
